.hero-image {
  height: 40vh;
  width: 100%;
  background-color: gray;
  margin: 0;
}

.home-cont {
  max-width: 87%;
  margin: 0 auto;
}

.home-text,
.home-video-cont {
  padding-top: 4%;
  font-family: "raleway";
}

.home-text h1 {
  color: #3a3740;
}

.home-text h3,
.home-video-text h3 {
  font-weight: lighter;
  line-height: 1.8;
}

.home-video-cont {
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
}

.home-video {
  padding-top: 8%;
}

.home-blogs {
  font-family: "raleway";
}

@media (min-width: 1350px) {
  .home-text-cont {
    display: flex;
    justify-content: space-between;
  }

  .home-text {
    padding: 15px;
  }

  .home-text h3 {
    line-height: 2;
  }

  .home-video-cont {
    flex-direction: row;
    padding-bottom: 5%;
  }

  .home-hr {
    display: none;
  }

  .home-video-text {
    width: 50%;
    padding-right: 50px;
  }

  .home-video-text h3 {
    line-height: 2;
  }

  .home-video {
    width: 50%;
    padding: 0px;
  }

  .home-video iframe {
    height: 375px;
  }

  .home-blogs h2 {
    padding-top: 5%;
  }
}
